@use "sass:math";
@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:meta";
@use "sass:map";
@use "./bootstrap/functions";
@use "./bootstrap/variables";
@use "./bootstrap/maps";
@use "./bootstrap/utilities";
// @use "./variables/utilities";
// @use "./variables";

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

$soft-background-color: #ffffff !default; // Testing
$font-color: #7b809a !default;
$h-color: #344767 !default;

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f0f2f5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$box-shadow-xs: 0 2px 9px -5px rgba($black, 0.15) !default;
$box-shadow-sm: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !default;
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06) !default;
$box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05) !default;
$box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

$box-shadow-primary: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(233, 30, 99, 0.4) !default;
$box-shadow-secondary: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(210, 210, 210, 0.4) !default;
$box-shadow-info: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(0, 188, 212, 0.4) !default;
$box-shadow-warning: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(255, 152, 0, 0.4) !default;
$box-shadow-success: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(76, 175, 80, 0.4) !default;
$box-shadow-danger: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(244, 67, 54, 0.4) !default;
$box-shadow-dark: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(64, 64, 64, 0.4) !default;
$box-shadow-light: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(233, 30, 99, 0.4) !default;

$position-values: (
  0: 0,
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  50: 50%,
  100: 100%) !default;


$border-width: 1px !default;
$border-color: $gray-300 !default;

// scss-docs-start border-radius-variables
$border-radius:               .375rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-2xl:           2rem !default;
$border-radius-pill:          50rem !default;

$border-radius-xs: 0.1rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 0.75rem !default;
$border-radius-2xl: 1rem !default;
$border-radius-section: 10rem !default;



$primary: #e91e63 !default;
$secondary: #7b809a !default;
$info: #1a73e8 !default;
$success: #4caf50 !default;
$warning: #fb8c00 !default;
$danger: #f44335 !default;
$light: $gray-200 !default;
$dark: $h-color !default;

$blue: #63b3ed !default;
$indigo: #596cff !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #f56565 !default;
$rose: #e91e63 !default;
$orange: #fd7e14 !default;
$yellow: #fbd38d !default;
$green: #81e6d9 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white) !default;


$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius-xs: 0.1rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 0.75rem !default;
$border-radius-2xl: 1rem !default;
$border-radius-section: 10rem !default;

$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px) !default;


// extra width values variables - CT
$width-0: 0% !default;
$width-1: 1% !default;
$width-2: 2% !default;
$width-3: 3% !default;
$width-4: 4% !default;
$width-5: 5% !default;
$width-6: 6% !default;
$width-7: 7% !default;
$width-8: 8% !default;
$width-9: 9% !default;
$width-10: 10% !default;
$width-15: 15% !default;
$width-20: 20% !default;
$width-25: 25% !default;
$width-30: 30% !default;
$width-35: 35% !default;
$width-40: 40% !default;
$width-45: 45% !default;
$width-50: 50% !default;
$width-55: 55% !default;
$width-60: 60% !default;
$width-65: 65% !default;
$width-70: 70% !default;
$width-75: 75% !default;
$width-80: 80% !default;
$width-85: 85% !default;
$width-90: 90% !default;
$width-95: 95% !default;
$width-100: 100% !default;

$width: (
  "0": $width-0,
  "1": $width-1,
  "2": $width-2,
  "3": $width-3,
  "4": $width-4,
  "5": $width-5,
  "6": $width-6,
  "7": $width-7,
  "8": $width-8,
  "9": $width-9,
  "10": $width-10,
  "15": $width-15,
  "20": $width-20,
  "25": $width-25,
  "30": $width-30,
  "35": $width-35,
  "40": $width-40,
  "45": $width-45,
  "50": $width-50,
  "55": $width-55,
  "60": $width-60,
  "65": $width-65,
  "70": $width-70,
  "75": $width-75,
  "80": $width-80,
  "85": $width-85,
  "90": $width-90,
  "95": $width-95,
  "100": $width-100,
  "auto": auto) !default;






// on hover transition variables
$move-transition: .2s ease-out !default;
$move-overflow: hidden !default;
$move-transform: perspective(999px) rotateX(0deg) translate3d(0, 0, 0) !default;
$move-transform-origin: 50% 0 !default;
$move-backface-visibility: hidden !default;
$move-will-change: transform,
  box-shadow !default;
$move-hover-transform: perspective(999px) rotateX(7deg) translate3d(0px, -4px, 5px) !default;

// Sections Height Utilities
$section-height-25-min-height: 25vh !default;
$section-height-35-min-height: 35vh !default;
$section-height-45-min-height: 45vh !default;
$section-height-50-min-height: 50vh !default;
$section-height-55-min-height: 55vh !default;
$section-height-65-min-height: 65vh !default;
$section-height-70-min-height: 70vh !default;
$section-height-75-min-height: 75vh !default;
$section-height-80-min-height: 80vh !default;
$section-height-85-min-height: 85vh !default;
$section-height-90-min-height: 90vh !default;
$section-height-95-min-height: 95vh !default;
$section-height-100-min-height: 100vh !default;

// extra padding utilities variables - CT
$padding-6: 4rem !default;
$padding-7: 6rem !default;
$padding-8: 8rem !default;
$padding-9: 10rem !default;
$padding-10: 12rem !default;
$padding-11: 14rem !default;
$padding-12: 16rem !default;

// extra margins utilities variables - CT
$margin-6: 4rem !default;
$margin-7: 6rem !default;
$margin-8: 8rem !default;
$margin-9: 10rem !default;
$margin-10: 12rem !default;
$margin-11: 14rem !default;
$margin-12: 16rem !default;

// extra width values variables - CT
$width-0: 0% !default;
$width-1: 1% !default;
$width-2: 2% !default;
$width-3: 3% !default;
$width-4: 4% !default;
$width-5: 5% !default;
$width-6: 6% !default;
$width-7: 7% !default;
$width-8: 8% !default;
$width-9: 9% !default;
$width-10: 10% !default;
$width-15: 15% !default;
$width-20: 20% !default;
$width-25: 25% !default;
$width-30: 30% !default;
$width-35: 35% !default;
$width-40: 40% !default;
$width-45: 45% !default;
$width-50: 50% !default;
$width-55: 55% !default;
$width-60: 60% !default;
$width-65: 65% !default;
$width-70: 70% !default;
$width-75: 75% !default;
$width-80: 80% !default;
$width-85: 85% !default;
$width-90: 90% !default;
$width-95: 95% !default;
$width-100: 100% !default;

// extra max width values variables - CT
$max-width-100: 100px !default;
$max-width-200: 200px !default;
$max-width-300: 300px !default;
$max-width-400: 400px !default;
$max-width-500: 500px !default;

// extra height values variables - CT
$height-100: 100px !default;
$height-200: 200px !default;
$height-300: 300px !default;
$height-400: 400px !default;
$height-500: 500px !default;
$height-600: 600px !default;


// extra min height values variables - CT
$min-height-100: 100px !default;
$min-height-150: 150px !default;
$min-height-160: 160px !default;
$min-height-200: 200px !default;
$min-height-250: 250px !default;
$min-height-300: 300px !default;
$min-height-400: 400px !default;
$min-height-500: 500px !default;
$min-height-600: 600px !default;

// extra min height values variables - CT
$max-height-100: 100px !default;
$max-height-150: 150px !default;
$max-height-160: 160px !default;
$max-height-200: 200px !default;
$max-height-250: 250px !default;
$max-height-300: 300px !default;
$max-height-400: 400px !default;
$max-height-500: 500px !default;
$max-height-600: 600px !default;

// extra min height vh values variables - CT
$max-height-vh-10: 10vh !default;
$max-height-vh-20: 20vh !default;
$max-height-vh-30: 30vh !default;
$max-height-vh-40: 40vh !default;
$max-height-vh-50: 50vh !default;
$max-height-vh-60: 60vh !default;
$max-height-vh-70: 70vh !default;
$max-height-vh-80: 80vh !default;
$max-height-vh-90: 90vh !default;
$max-height-vh-100: 100vh !default;

// Extra Padding values Map
$paddings: (
  "6": $padding-6,
  "7": $padding-7,
  "8": $padding-8,
  "9": $padding-9,
  "10": $padding-10,
  "11": $padding-11,
  "12": $padding-12) !default;

// Extra Margins values Map
$margins: (
  "6": $margin-6,
  "7": $margin-7,
  "8": $margin-8,
  "9": $margin-9,
  "10": $margin-10,
  "11": $margin-11,
  "12": $margin-12) !default;

$width: (
  "0": $width-0,
  "1": $width-1,
  "2": $width-2,
  "3": $width-3,
  "4": $width-4,
  "5": $width-5,
  "6": $width-6,
  "7": $width-7,
  "8": $width-8,
  "9": $width-9,
  "10": $width-10,
  "15": $width-15,
  "20": $width-20,
  "25": $width-25,
  "30": $width-30,
  "35": $width-35,
  "40": $width-40,
  "45": $width-45,
  "50": $width-50,
  "55": $width-55,
  "60": $width-60,
  "65": $width-65,
  "70": $width-70,
  "75": $width-75,
  "80": $width-80,
  "85": $width-85,
  "90": $width-90,
  "95": $width-95,
  "100": $width-100,
  "auto": auto) !default;


// blur effect variables
$blur-border-radius-rounded: 40px !default;
$blur-box-shadow: inset 0px 0px 2px #fefefed1 !default;
$blur-backdrop-filter: saturate(200%) blur(30px) !default;
$blur-backdrop-filter-less: saturate(20%) blur(30px) !default;

$shadow-blur-box-shadow: inset 0 0px 1px 1px rgba(254, 254, 254, .9),
  0 20px 27px 0 rgba(0, 0, 0, .05) !default;

// sidebar variables

$sidebar-width: 80px !default;
$sidebar-transition: 1s ease !default;


@function negativify-map($map) {
  $result: ();
  @each $key, $value in $map {
    @if $key != 0 {
      $result: map.merge($result, ("n" + $key: (-$value)));
    }
  }
  @return $result;
}


$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 6,
  8: $spacer * 8,
  9: $spacer * 10,
  10: $spacer * 12,
  11: $spacer * 14,
  12: $spacer * 16) !default;

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-grid-classes: true !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-negative-margins: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

$negative-spacers: if($enable-negative-margins,
    negativify-map($spacers),
    null) !default;


$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

$line-height: 1.75rem !default;
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$body-bg: $white !default;
$body-color: $font-color !default;
$body-text-align: null !default;



$headings-margin-bottom: $spacer * 0.5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.2 !default;
$headings-color: #344767 !default;

$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings


$font-size-root: null !default;
$font-size-base: 1rem !default;
$lead-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: 300 !default;

$small-font-size: 0.875em !default;

$sub-sup-font-size: 0.75em !default;

$text-secondary: $font-color !default;
$text-muted: $gray-600 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size) !default;






$utilities: (
  // scss-docs-start utils-vertical-align
  "align": (property: vertical-align,
    class: align,
    values: baseline top middle bottom text-bottom text-top),
  // scss-docs-end utils-vertical-align
  // scss-docs-start utils-float
  "float": (responsive: true,
    property: float,
    values: (start: left,
      end: right,
      none: none,
    )),
  // scss-docs-end utils-float
  // scss-docs-start utils-overflow
  "overflow": (property: overflow,
    values: auto hidden visible scroll,
  ),
  // scss-docs-end utils-overflow
  // scss-docs-start utils-overflow-x
  "overflow-x": (property: overflow-x,
    class: overflow-x,
    values: auto hidden visible scroll,
  ),
  // scss-docs-end utils-overflow-x
  // scss-docs-start utils-overflow-y
  "overflow-y": (property: overflow-y,
    class: overflow-y,
    values: auto hidden visible scroll,
  ),
  // scss-docs-end utils-overflow-y
  // scss-docs-start utils-display
  "display": (responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none),
  // scss-docs-end utils-display
  // scss-docs-start utils-shadow
  "shadow": (property: box-shadow,
    class: shadow,
    values: (
      null: $box-shadow,
      sm: $box-shadow-sm,
      lg: $box-shadow-lg,
      xl: $box-shadow-xl,
      none: none,
    )),
  // scss-docs-start utils-colored-shadow
  "colored-shadow": (property: box-shadow,
    class: shadow,
    values: (primary: $box-shadow-primary,
      secondary: $box-shadow-secondary,
      info: $box-shadow-info,
      warning: $box-shadow-warning,
      success: $box-shadow-success,
      danger: $box-shadow-danger,
      dark: $box-shadow-dark,
      light: $box-shadow-light,
    )),
  // scss-docs-end utils-colored-shadow
  // scss-docs-start utils-position
  "position": (property: position,
    values: static relative absolute fixed sticky),
  "top": (property: top,
    values: $position-values ),
  "bottom": (property: bottom,
    values: $position-values ),
  "start": (property: left,
    class: start,
    values: $position-values ),
  "end": (property: right,
    class: end,
    values: $position-values ),
  "translate-middle": (property: transform,
    class: translate-middle,
    values: (null: translate(-50%, -50%),
      x: translateX(-50%),
      y: translateY(-50%),
    )),
  //Scale
  "transform": (property: transform,
    class: transform-scale,
    responsive: true,
    values: (5: scale(.5),
      6: scale(.6),
      7: scale(.7),
      8: scale(.8),
      9: scale(.9),
      10: scale(1),
    )),
  // scss-docs-end utils-position
  // scss-docs-start utils-borders
  "border": (property: border,
    values: (null: $border-width solid $border-color,
      0: 0,
    )),
  "border-top": (property: border-top,
    responsive: true,
    values: (null: $border-width solid $border-color,
      0: 0,
    )),
  "border-end": (property: border-right,
    responsive: true,
    class: border-end,
    values: (null: $border-width solid $border-color,
      0: 0,
    )),
  "border-bottom": (property: border-bottom,
    responsive: true,
    values: (null: $border-width solid $border-color,
      0: 0,
    )),
  "border-start": (property: border-left,
    responsive: true,
    class: border-start,
    values: (null: $border-width solid $border-color,
      0: 0,
    )),
  "border-color": (property: border-color,
    class: border,
    values: map.merge($theme-colors, ("white": $white))),
  "border-width": (property: border-width,
    class: border,
    values: $border-widths ),
  // scss-docs-end utils-borders
  // Sizing utilities
  // scss-docs-start utils-sizing
  "width": (property: width,
    responsive: true,
    class: w,
    values: $width ),
  "max-width": (property: max-width,
    class: mw,
    values: (100: 100%)),
  "viewport-width": (property: width,
    class: vw,
    values: (100: 100vw)),
  "min-viewport-width": (property: min-width,
    class: min-vw,
    values: (100: 100vw)),
  "height": (property: height,
    class: h,
    values: (25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto)),
  "max-height": (property: max-height,
    class: mh,
    values: (100: 100%)),
  "viewport-height": (property: height,
    class: vh,
    values: (100: 100vh)),
  "min-viewport-height": (property: min-height,
    class: min-vh,
    values: (25: $section-height-25-min-height,
      35: $section-height-35-min-height,
      45: $section-height-45-min-height,
      50: $section-height-50-min-height,
      55: $section-height-55-min-height,
      65: $section-height-65-min-height,
      70: $section-height-70-min-height,
      75: $section-height-75-min-height,
      80: $section-height-80-min-height,
      85: $section-height-85-min-height,
      90: $section-height-90-min-height,
      95: $section-height-95-min-height,
      100: 100vh)),
  // scss-docs-end utils-sizing
  // Flex utilities
  // scss-docs-start utils-flex
  "flex": (responsive: true,
    property: flex,
    values: (fill: 1 1 auto)),
  "flex-direction": (responsive: true,
    property: flex-direction,
    class: flex,
    values: row column row-reverse column-reverse),
  "flex-grow": (responsive: true,
    property: flex-grow,
    class: flex,
    values: (grow-0: 0,
      grow-1: 1,
    )),
  "flex-shrink": (responsive: true,
    property: flex-shrink,
    class: flex,
    values: (shrink-0: 0,
      shrink-1: 1,
    )),
  "flex-wrap": (responsive: true,
    property: flex-wrap,
    class: flex,
    values: wrap nowrap wrap-reverse),
  "gap": (responsive: true,
    property: gap,
    class: gap,
    values: $spacers ),
  "justify-content": (responsive: true,
    property: justify-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )),
  "align-items": (responsive: true,
    property: align-items,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
  "align-content": (responsive: true,
    property: align-content,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    )),
  "align-self": (responsive: true,
    property: align-self,
    values: (auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )),
  "order": (responsive: true,
    property: order,
    values: (first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  // scss-docs-end utils-flex
  // Margin utilities
  // scss-docs-start utils-spacing
  "margin": (responsive: true,
    property: margin,
    class: m,
    values: map.merge($spacers, (auto: auto))),
  "margin-x": (responsive: true,
    property: margin-right margin-left,
    class: mx,
    values: map.merge($spacers, (auto: auto))),
  "margin-y": (responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values: map.merge($spacers, (auto: auto))),
  "margin-top": (responsive: true,
    property: margin-top,
    class: mt,
    values: map.merge($spacers, (auto: auto))),
  "margin-end": (responsive: true,
    property: margin-right,
    class: me,
    values: map.merge($spacers, (auto: auto))),
  "margin-bottom": (responsive: true,
    property: margin-bottom,
    class: mb,
    values: map.merge($spacers, (auto: auto))),
  "margin-start": (responsive: true,
    property: margin-left,
    class: ms,
    values: map.merge($spacers, (auto: auto))),
  // Negative margin utilities
  "negative-margin": (responsive: true,
    property: margin,
    class: m,
    values: $negative-spacers ),
  "negative-margin-x": (responsive: true,
    property: margin-right margin-left,
    class: mx,
    values: $negative-spacers ),
  "negative-margin-y": (responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values: $negative-spacers ),
  "negative-margin-top": (responsive: true,
    property: margin-top,
    class: mt,
    values: $negative-spacers ),
  "negative-margin-end": (responsive: true,
    property: margin-right,
    class: me,
    values: $negative-spacers ),
  "negative-margin-bottom": (responsive: true,
    property: margin-bottom,
    class: mb,
    values: $negative-spacers ),
  "negative-margin-start": (responsive: true,
    property: margin-left,
    class: ms,
    values: $negative-spacers ),
  // Padding utilities
  "padding": (responsive: true,
    property: padding,
    class: p,
    values: $spacers ),
  "padding-x": (responsive: true,
    property: padding-right padding-left,
    class: px,
    values: $spacers ),
  "padding-y": (responsive: true,
    property: padding-top padding-bottom,
    class: py,
    values: $spacers ),
  "padding-top": (responsive: true,
    property: padding-top,
    class: pt,
    values: $spacers ),
  "padding-end": (responsive: true,
    property: padding-right,
    class: pe,
    values: $spacers ),
  "padding-bottom": (responsive: true,
    property: padding-bottom,
    class: pb,
    values: $spacers ),
  "padding-start": (responsive: true,
    property: padding-left,
    class: ps,
    values: $spacers ),
  // scss-docs-end utils-spacing
  // Text
  // scss-docs-start utils-text
  "font-family": (property: font-family,
    class: font,
    values: (monospace: var(--#{$prefix}font-monospace))),
  "font-size": (rfs: true,
    property: font-size,
    class: fs,
    values: $font-sizes ),
  "font-style": (property: font-style,
    class: fst,
    values: italic normal),
  "font-weight": (property: font-weight,
    class: fw,
    values: (light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder )),
  "line-height": (property: line-height,
    class: lh,
    values: (1: 1,
      sm: $line-height-sm,
      base: $line-height-base,
      lg: $line-height-lg,
    )),
  "text-align": (responsive: true,
    property: text-align,
    class: text,
    values: (start: left,
      end: right,
      center: center,
    )),
  "text-decoration": (property: text-decoration,
    values: none underline line-through),
  "text-transform": (property: text-transform,
    class: text,
    values: lowercase uppercase capitalize),
  "white-space": (property: white-space,
    class: text,
    values: (wrap: normal,
      nowrap: nowrap,
    )),
  "word-wrap": (property: word-wrap word-break,
    class: text,
    values: (break: break-word),
    rtl: false),
  // scss-docs-end utils-text
  // scss-docs-start utils-color
  "color": (property: color,
    class: text,
    values: map.merge($theme-colors,
      ("white": $white,
        "body": $body-color,
        "rose": $rose,
        "muted": $text-muted,
        "black-50": rgba($black, .5),
        "white-50": rgba($white, .5),
        "reset": inherit,
      ))),
  // scss-docs-end utils-color
  // scss-docs-start utils-bg-color
  "background-color": (property: background-color,
    class: bg,
    values: map.merge($theme-colors,
      ("body": $body-bg,
        "white": $white,
        "transparent": transparent,
        "gray-100": $gray-100,
        "gray-200": $gray-200,
        "gray-300": $gray-300,
        "gray-400": $gray-400,
        "gray-500": $gray-500,
        "gray-600": $gray-600,
        "gray-700": $gray-700,
        "gray-800": $gray-800,
        "gray-900": $gray-900,
      ))),
  // scss-docs-end utils-bg-color
  "gradient": (property: background-image,
    class: bg,
    values: (gradient: var(--#{$prefix}gradient))),
  // scss-docs-start utils-interaction
  "user-select": (property: user-select,
    values: all auto none),
  "pointer-events": (property: pointer-events,
    class: pe,
    values: none auto,
  ),
  // scss-docs-end utils-interaction
  // scss-docs-start utils-border-radius
  "rounded": (property: border-radius,
    class: rounded,
    values: (null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      circle: 50%,
      pill: $border-radius-pill )),
  "rounded-top": (property: border-top-left-radius border-top-right-radius,
    class: rounded-top,
    values: (null: $border-radius)),
  "rounded-end": (property: border-top-right-radius border-bottom-right-radius,
    class: rounded-end,
    values: (null: $border-radius)),
  "rounded-bottom": (property: border-bottom-right-radius border-bottom-left-radius,
    class: rounded-bottom,
    values: (null: $border-radius)),
  "rounded-start": (property: border-bottom-left-radius border-top-left-radius,
    class: rounded-start,
    values: (null: $border-radius)),
  // scss-docs-end utils-border-radius
  // scss-docs-start utils-visibility
  "visibility": (property: visibility,
    class: null,
    values: (visible: visible,
      invisible: hidden,
    )),
  // Opacity utilities
  "opacity": (property: opacity,
    values: (0: 0,
      1: .1,
      2: .2,
      3: .3,
      4: .4,
      5: .5,
      6: .6,
      7: .7,
      8: .8,
      9: .9,
      10: 1),
  ),
  // Z-index utilities
  "z-index": (property: z-index,
    values: (0: 0,
      1: 1,
      2: 2,
      3: 3),
  ),
  // Letter spacing utilities
  "letter-spacing": (property: letter-spacing,
    values: (1: 1px,
      2: 2px,
      3: 3px,
      4: 4px,
      5: 5px),
  ),
  // Border radius utilities
  "border-top-left-radius": (property: border-top-left-radius,
    class: border-radius-top-start,
    responsive: true,
    values: (null: $border-radius,
      0: 0,
      sm: $border-radius-sm,
      md: $border-radius,
      lg: $border-radius-lg,
      xl: $border-radius-xl,
      2xl: $border-radius-2xl,
      circle: 50%,
      pill: $border-radius-pill )),
  "border-top-right-radius": (property: border-top-right-radius,
    class: border-radius-top-end,
    responsive: true,
    values: (null: $border-radius,
      0: 0,
      sm: $border-radius-sm,
      md: $border-radius,
      lg: $border-radius-lg,
      xl: $border-radius-xl,
      2xl: $border-radius-2xl,
      circle: 50%,
      pill: $border-radius-pill )),
  "border-bottom-left-radius": (property: border-bottom-left-radius,
    class: border-radius-bottom-start,
    responsive: true,
    values: (null: $border-radius,
      0: 0,
      sm: $border-radius-sm,
      md: $border-radius,
      lg: $border-radius-lg,
      xl: $border-radius-xl,
      2xl: $border-radius-2xl,
      circle: 50%,
      pill: $border-radius-pill )),
  "border-bottom-right-radius": (property: border-bottom-right-radius,
    class: border-radius-bottom-end,
    responsive: true,
    values: (null: $border-radius,
      0: 0,
      sm: $border-radius-sm,
      md: $border-radius,
      lg: $border-radius-lg,
      xl: $border-radius-xl,
      2xl: $border-radius-2xl,
      circle: 50%,
      pill: $border-radius-pill )),
  // Max Height Values
  "max-height-px": (property: max-height,
    class: max-height,
    values: (100: $max-height-100,
      150: $max-height-150,
      160: $max-height-160,
      200: $max-height-200,
      250: $max-height-250,
      300: $max-height-300,
      400: $max-height-400,
      500: $max-height-500,
      600: $max-height-600 )),
  // Max Height Values vh
  "max-height-vh": (property: max-height,
    class: max-height-vh,
    values: (10: $max-height-vh-10,
      20: $max-height-vh-20,
      30: $max-height-vh-30,
      40: $max-height-vh-40,
      50: $max-height-vh-50,
      60: $max-height-vh-60,
      70: $max-height-vh-70,
      80: $max-height-vh-80,
      90: $max-height-vh-90,
      100: $max-height-vh-100,
    )),
  // Min Height Values
  "min-height-px": (property: min-height,
    class: min-height,
    values: (100: $min-height-100,
      150: $min-height-150,
      160: $min-height-160,
      200: $min-height-200,
      250: $min-height-250,
      300: $min-height-300,
      400: $min-height-400,
      500: $min-height-500,
      600: $min-height-600 )),
  // Height Values
  "height-px": (property: height,
    class: height,
    values: (100: $height-100,
      200: $height-200,
      300: $height-300,
      400: $height-400,
      500: $height-500,
      600: $height-600 )),
  // Max Width Values
  "max-width-px": (property: max-width,
    class: max-width,
    values: (100: $max-width-100,
      200: $max-width-200,
      300: $max-width-300,
      400: $max-width-400,
      500: $max-width-500 )),
);